.App {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.container-calculadora {
  margin-top: 50px;
  width: 700px;
  height: 800px;
  background-color: #D5CFE1;
  border: 2px solid black;
  border-radius: 5%;
}

.fila {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
  
}